<html>
    <head></head>
    <body>
        <div>
            <form action ="/user/add" method="post">
                <div>
                    <strong for="name">name</strong>
                <input type="text" name="name" placeholder=""/>
                </div>
                <div>
                    <strong>email</strong>
                <input type="text" name="email" placeholder=""/>
                </div>
                <input type="submit" value="submit">
            </form>
        </div>
    </body>
</html>