<html>

<head></head>

<body>
    <div>
        <table border="1" width="300">
            <thead>
                <th>name</th>
                <th>email</th>
            </thead>
            <tbody>
                <% users.forEach( user=> { %>
                    <tr>
                        <td><%= user.name%></td>
                        <td><%= user.email%></td>
                    </tr>
                   <%})%>
            </tbody>
        </table>
        <button><a href="/form">Add User</a></button>
    </div>
</body>

</html>