body{
    background-color: lightblue;
}
.red{
    color:red;
}
.yellow{
    color:yellow;
}
.green{
    color:green;
}
.button{
    margin-top: 20px;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
} 